
.t-section{
  margin-top: 50px;
}

.t-section__header{
  margin-bottom: 20px;
}

/* flex */
.t-flex-row {
display: flex;
align-content: center;
align-items: center;
justify-content: space-evenly;
flex-wrap: wrap;
margin: 0 auto;
}

.t-flex-column{
  flex-direction: column;
}

/* vertical alignment */
.t-flex--start{
  align-content: flex-start;
  align-items: flex-start;
}

/* horizontal alignment */
.t-flex-start{
  justify-content: flex-start;
}

.t-flex-end{
  justify-content: flex-end;
}

.t-flex-between{
  justify-content: space-between;
}

.t-flex__nowrap{
 flex-wrap: nowrap;
}

/* card */

.t-card {
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 1px solid #d7e2e9;
  background-color: white;
  position: relative;
  padding: 25px;
  height: 320px;
  width: 440px;
  margin-top:20px;
  margin-bottom:20px;
}

.t-card-subtitle{
  color: #8e9ca4;
  font-size: 14px;
}

.t-card-title {
  overflow: hidden;
    height: 30px;
}

.t-card-header{
  color: black
}

.t-card-footer{
  border-top: 1px solid #dee4e7;
  padding-top: 5px;  
 position: absolute;
   bottom: 10px;
}

.t-card-tag {
  width: fit-content;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 14px;
  height: 30px;
  background: #eaeefa;
  color: #6371f3;
  border-radius: 5px;
  padding: 5px 15px;
}

/* logo */
.t-menu-logo{
  height:50px;
}

.t-logo{
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 10px;
  border: 1px solid #d7e2e9;
max-width:100%;
max-height:100%;}

/* icon */
.t-icon {
  color: #c7ccfb;
  font-size: 20px;
}

.t-icon-lg {
  color: #c7ccfb;
  font-size: 50px;
}

.t-icon--active {
  color: #3044f6;
}

/* btn */
.t-btn{
  border: none;
  box-shadow: 1px 1px 5px #3044f6;;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 50px;
  width: 130px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  background: #3044f6;
  color: white;
}

.t-btn-reverse{
  color: #3044f6;
  box-shadow: 1px 1px 5px #3044f6;
  background: white;
}

.t-btn-lg{
  width: 130px;
  font-size: 12px;
    padding: 10px;
}
/*  */
.bg {
  background-color: #3044f6;
}

.secondary-bg {
    background-color: #5566ff !important;
    border-color: #5566ff !important;
  }
  
.secondary-bg:hover{    
    background-color: #929dff !important;
    border-color: #929dff !important;
}

.t-col-4{
  flex-basis: calc(33.3333% - 30px);
}

.t-sm {
  font-size:14px
}

.mt-m1 {
  margin-top: -10px;
}

.nav-link {
    color: white !important;
}

.t-menu-link {
  color: white;
  padding: 0px 20px;
}

.t-login{
  border-right: 1px solid rgba(255, 255, 255, 0.555);
}

.t-sort {
  color: #3044f6 !important;
  margin-left: 10px !important;
  margin-right: 30px !important;
  padding-right: 30px !important;
  border-right: 1px solid #c6cbce;
  text-decoration: underline;
}
