
.t-card-reverse {
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 1px solid #d7e2e9;
  background-color: #3044f6;
  position: relative;
  padding: 10px 20px;
  height: 240px;
  width: 440px;
  margin-top:20px;
  margin-bottom:20px;
  color:white
}

.t-s-input {
    border-radius: 5px;
    background: #3044f6;
    width: 300px;
    display: block;
    border: 1px solid white;
    font-size: 14px;
    padding: 0 20px;
    height: 40px;
    text-indent: 1px;
    color: white;
}

.t-card-desc{
font-size: 14px;
}
