.t-container {
    height: 100%;
    width: 72%;
    margin-left: 28%;
    padding: 40px 80px;
}


.t-form-row {
    display: flex;
    align-items: flex-start;
}
.t-form-row--between {
    justify-content: space-between;
}

.override{
    align-items: initial !important;
}

.t-form-input{
    width: 29vw;
    position: relative;
}

.t-form-input__lg{
    width: 35vw;
}

.t-control{
    border-radius: 5px;
    background: white;
    width: 100%;
    display: block;
    border: 1px solid #cfcfcf;
    font-size: 14px;
    padding: 0 20px;
    height: 40px;
    text-indent: 1px;
}

.t-control__error{
    border-color: #ff4343;
}

.t-form-group{
    position: relative;
    margin-right: 30px;
}

.t-form-group__label{
    color: rgb(172, 172, 172);
    background-color: white;
    font-size: 14px;
    padding: 4px 2px !important;
    display: inline-block;
    left: 25px;
    position: absolute;
    transform: translateY(-50%);
    z-index: 1;
}

.t-form-file{
    border: 1px solid #cfcfcf;
    background: transparent;
    padding:0;
    cursor: pointer;
    font-size: 0;
}

.t-avatar{
    width: 100%;
    height: 100%;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
}

.t-upload{
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    height: 22vw;
    width: 22vw;
    position: relative;
}

.t-file-button{
    cursor: pointer;
    color: white;
    position: absolute;
    left: 16px;
    bottom: 8px;
}

.t-file-remove{
    cursor: pointer;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.t-control-area{
    height: 37vh;
    resize: none
}

.t-notice{
    background-color: #eaeefa;
    padding: 20px;
    border-radius: 5px;
}

.t-notice-text{
    font-size: 15px;
    color: rgb(88, 88, 88);
}

input[type='checkbox'] {
      -ms-transform: scale(1.7); /* IE */
  -moz-transform: scale(1.7); /* FF */
  -webkit-transform: scale(1.7); /* Safari and Chrome */
  -o-transform: scale(1.7); /* Opera */
  transform: scale(1.7);
  padding: 2px;
}